html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  padding-top: 66.64%; /* (img-height / img-width * container-width) */
              /* (853 / 1280 * 100) */
}

p, h1 {
    color : #d8dde2;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #404346bd;
    padding: 0 20px 20px 20px;
    /* border: 5px solid black; */
  }
  