html {
  background: url("https://img.freepik.com/free-vector/realistic-vintage-vaporwave-background_23-2148887268.jpg?w=996&t=st=1663096116~exp=1663096716~hmac=3b2d2e43cda9b56b02011c0940461e821b713e254a4ba803ab9614d108f94b22") no-repeat center fixed;
  background-color: #151515;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

p, h1 {
    color : #e2d8e2;
    font-family: "verdana";
}

h1 {
    margin: auto;
    padding: auto;
    text-shadow: 3px 3px 1px black;
    
}

body {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color: #404346bd;
    /* border: 5px solid black; */
  }
